html {
	color: #34495e;
	font-family: 'Segoe UI';
}

#wrap {
	width: 600px !important;
	min-height: 185px;
	max-height: 800px;
	overflow-y: scroll;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.65);
	box-shadow: 0px 2px 5px 0px rgba(235, 4, 4, 0.8), 0px 2px 10px 0px rgba(0, 0, 0, 0.8);
	color: rgba(255, 255, 255, 0.9);
	border-radius: 25px;
	z-index: 10;
}
.slimScrollDiv{
	width: 600px !important;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
p {
	float: left;
	margin-left: 15px;
	padding-left: 10px;
	font-size: 0.8vw;
}

.header {
	font-family: 'Segoe UI';
	height: 55px;
	width: 600px;
	/*background-color: #1C1C1C;*/
	background-color: rgb(238, 11, 193);
	padding-left: 0px;
	padding-right: 0px;
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
	background: linear-gradient(263deg, #f012f8, #fd176f, #ff6600, #ffd001, #531fff ,#f012f8, #fd176f);
	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
	background-size: 800% 800%;
}
@-webkit-keyframes AnimationName {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@keyframes AnimationName {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
.text-ellipsis{
	white-space: nowrap;       /* Ngăn chữ bị ngắt dòng */
  overflow: hidden;          /* Ẩn phần vượt quá phạm vi hiển thị */
  text-overflow: ellipsis;   /* Hiển thị dấu "..." khi chữ vượt quá */
  max-width: 200px;
}
.jobs {
	font-family: 'Segoe UI';
	padding-top: 5px;
	/*background-color: #1C1C1C;*/
	/*background-color: rgb(46, 46, 46, 0.65);*/
	height: 1vw;
	/*width: 100%;*/
	padding-left: 10px;
	/*box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 1px 0px rgba(0, 0, 0, 0.3);*/
	border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.jobs p {
	margin-top: 0px;
	font-family: 'Segoe UI';
}

table {
	text-align: left;
	color: white;
}

th, td {
	padding-left: 25px;
}

th {
	padding-top: 10px;
	height: 40px;
}

tr {
	font-size: 0.7vw;
	font-family: 'Segoe UI';
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

tr.heading {
	font-size: 0.8vw;
	color: rgb(233, 255, 30);
}

.serverinfo {
	font-size: 0.8vw;
	text-align: center;
	color: #FF0068;
	animation: color 4s infinite;
-webkit-animation: color 6s infinite;
-moz-animation: color 6s infinite;
-o-animation: color 4s infinite
}
@keyframes color {
25% {
color: #FF4500;
color: green;
color: pink;
color: #FF4500;
}
50% {
color: #ADFF2F;
color: #00CED1;
}
}

/* width */
::-webkit-scrollbar {
  width: 0.5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(62, 62, 62);
  border-radius: 10px;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(46, 46, 46, 1.0);
  border-radius: 10px;
  display: none;
}